/* SDesign général pour mobile */

body{
	background: linear-gradient(#1F618D, #FFFFFF);
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: arial;
}


	/*Header*/

#nom_chrono{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	height: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 45px;
}


h2{
	margin : 0px 0px;
}

#titre{
	color : #232323;
}

#sous_titre{
	color : #615e5e;
}


	/* Début Section*/

#topchrono{
	flex: 1;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
}

#horloge{
	display: flex;
	justify-content: center;
}


	/*Début Coutdown*/

#countdown{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 50px;
}

#count_day, #count_hour, #count_min{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
	width: 350px;
	height: 200px;
}

#count_day{
	background: linear-gradient(#33005B, #D4D4D4);
}

#count_hour{
	background: linear-gradient(#02A7CC, #D4D4D4);
}

#count_min{
	background: linear-gradient(#00B483, #D4D4D4);
}

#count_sec{
	display: none;
}

#countdown_day, #countdown_hour, #countdown_min{
	font-size: 70px;
	font-weight: bold;
}


	/*Fin Countdown*/

#bouton{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

	/*Fin Section*/

/*Footer*/

#lien_anne{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
}

#lien_git, #nom, #logo_git {
	display: flex;
	justify-content: center;
  	align-items: center;
}

#lien_git, #nom{
	width: 400px;
	height: 20px;
}

#lien_git{	
	font-size: 30px;
	font-weight: bold
}

#logo_git {
	width: 400px;
	height: 100px;
}

#nom{
	font-size: 60px;
	font-weight: bold;
	color: #5F65AF;
}

/* Styles pour les écrans type tablette/desktop */

@media screen and (min-width: 780px) {

	#topchrono {
		flex-direction: column-reverse;
	}
}